body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 195, 64, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:554px;
  width:130px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 64, 75, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:554px;
  width:130px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:60px;
  background:inherit;
  background-color:rgba(22, 213, 133, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:466px;
  width:290px;
  height:60px;
  display:flex;
  font-size:24px;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  /*width:618px;*/
  /*height:780px;*/
  width:100%;
  height:100%;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:44px;
  /*width:309px;*/
  /*height:389px;*/
  width:80%;
  height:40%;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Negreta', 'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:126px;
  width:290px;
  height:45px;
  display:flex;
  font-family:'Comic Sans MS Negreta', 'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Negreta', 'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:290px;
  width:290px;
  height:45px;
  display:flex;
  font-family:'Comic Sans MS Negreta', 'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hobo Std Medium', 'Hobo Std', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:63px;
  width:290px;
  height:45px;
  display:flex;
  font-family:'Hobo Std Medium', 'Hobo Std', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:184px;
  width:272px;
  height:99px;
  display:flex;
  font-size:24px;
  text-align:center;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:379px;
  width:70px;
  height:30px;
  display:flex;
  font-size:24px;
  text-align:center;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:379px;
  width:70px;
  height:30px;
  display:flex;
  font-size:24px;
  text-align:center;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:55px;
  height:5px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:396px;
  width:52px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(0.128390054544016deg);
  -moz-transform:rotate(0.128390054544016deg);
  -ms-transform:rotate(0.128390054544016deg);
  transform:rotate(0.128390054544016deg);
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:363px;
  width:54px;
  height:26px;
  display:flex;
  font-size:24px;
  text-align:center;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
