.tl-taskitem{
    width:80%;
    margin:100px auto 0 auto;
    border: 2px solid #ffc340;
    box-shadow: 0 3px 55px 10px rgba(0, 0, 0, 0.07);
    padding: 30px;
    position: relative;
    font-size: 40px;
    line-height: 45px;
}

.tl-delete{
    display: block;
    position: absolute;
    right: -40px;
    top: -40px;
    width: 80px;
    height: 80px;
    color: #515151;
}

.tl-tasktime{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ffc340;
    padding-left: 30px;
    padding-right: 30px;
}

.tl-taskcontent{
    padding: 30px;
}

.tl-taskpro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(22,213,133,0.6);
    border-radius: 8px;
    padding: 15px;
    color: white;
}